NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=https://kzkpmzkdakwhpkbbnmut.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6a3BtemtkYWt3aHBrYmJubXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MzM5MzEsImV4cCI6MjA4ODMwOTkzMX0.q135s_zsjH-Foe5gb2oGuVSlKbxE794IMiep-lmlYRc
NEXT_PUBLIC_GOOGLE_CLIENT_ID=944552120205-fusk78da8mofkd4gro41h71kebu048l0.apps.googleusercontent.com
